body {
  background-image: url(https://cdn.pixabay.com/photo/2013/07/12/17/21/dice-152068_960_720.png);
  color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: 10px solid #900;
  border-right: 10px solid #900; 
  border-top: 10px solid #900;
  border-bottom: 10px solid #900; 
  background-color: slateblue;
  


}
