<<<<<<< HEAD
.App {
  text-align: center;
}

.App-header {
  background-color: blue;
  min-height: 100vh;
=======
body {
  background-image: url(https://cdn.pixabay.com/photo/2013/07/12/17/21/dice-152068_960_720.png);
  color: silver;
>>>>>>> 103c048edb821977bd4c5f7e8fe888b46a20d6e0
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  font-size: calc(10px + 2vmin);
  color: white;
}
.box{
  /* background-color: #33FFE1; */
  color: red;
  border-radius: .2em;
  padding: 1em;
  font-size: 150%;
=======
  align-items: center;
  text-align: center;
  border-left: 10px solid #900;
  border-right: 10px solid #900; 
  border-top: 10px solid #900;
  border-bottom: 10px solid #900; 
  background-color: slateblue;
  


>>>>>>> 103c048edb821977bd4c5f7e8fe888b46a20d6e0
}
